.sideBarMenu {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 8px;
}

.sideBarMenu h4 {
    margin: 0px;
}

.sideBarMenu__tile {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 20px;
    width: 100%;
    border-radius: 10px;
    padding: 0 5px;
}

.sideBarMenu .sideBar__tile:nth-child(3) {
    --space: 13px;
    padding-bottom: var(--space);
    margin-bottom: var(--space);
    border-bottom: 0.5px solid gray;
}

.sideBarMenu__tile__icon {
    font-size: 25px;
}

.sideBarMenu__tile__title {
    font-size: 15px;
}
