.customFonts {
    --fontSize_xxl: 33px;
    --fontSize_xl: 23px;
    --fontSize_l: 16px;
    --fontSize_m: 12px;
    --fontSize_s: 8px;
}

.mainSection {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 20px;
    height: 100%;
    width: 100%;
}
